img {
    float: right;
    border-radius: 100%;
    margin-top: 12%;
    margin-right: 4%;
    margin-left: 2%;
    margin-bottom: 15%;
}

body {
    background-image: url(Londres.jpg);
    background-size: 120%;
}

h1 {
    text-align: center;
    font-size: 45px;
    color: #DC143C;
}


footer h3 {
    color: #DC143C;
    font-size: 20px;
}

p {
    text-align: left;
    color: white;
}

ul {
    text-align: left;
    color: white;
}